.Card {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  min-height: 300px;

  .active {
    .description {
      max-height: 300px;
    }
    .button {
      transform: translateY(0);
      opacity: 1;
    }
    .overlay {
      opacity: 0.8;
    }
  }

  &:hover {
    .description {
      max-height: 300px;
    }
    .button {
      transform: translateY(0);
      opacity: 1;
    }
    .overlay {
      opacity: 0.8;
    }
  }
}

.overlay {
  opacity: 0;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 333ms;
  z-index: 1;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.details {
  padding: 20px;
  z-index: 2;
  text-align: center;
}

.details > h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0.2em;
  letter-spacing: 3.1px;
}

.description {
  font-weight: 300;
  max-height: 0;
  max-width: 220px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  font-size: 0.86em;
  letter-spacing: 1.6px;
  margin: 0 auto 20px;
  z-index: 2;
}

.details > h4 {
  font-size: 2em;
}

.button {
  transform: translateY(100px);
  transition: all 333ms;
  opacity: 0;
  z-index: 2;
  margin-bottom: 20px;
}
